<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

   <event name="sales_order_creditmemo_save_before">
       <observer name="czargroup_refund_observer_refundreason" instance="Czargroup\Refund\Observer\Refundreason" />
   </event>


</config>