<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<event name="catalog_product_import_bunch_save_after">
    <observer name="update_configurable_products_after_import" instance="Czargroup\SimpleQtyObserver\Observer\StockItemSaveAfterObserver" />
</event>
  <!--   <event name="cataloginventory_stock_item_save_after">
        <observer name="czargroup_stock_item_save_after_observer" instance="Czargroup\SimpleQtyObserver\Observer\StockItemSaveAfterObserver" />
    </event> -->
</config>
