<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Parent menu for Czargroup_ImportTracknumber -->
        <add id="Czargroup_ImportTracknumber::importtracknumber" title="Czargroup Import" module="Czargroup_ImportTracknumber" sortOrder="52" resource="Czargroup_ImportTracknumber::importtracknumber"/>

        <!-- Submenu for Import Track Number -->
        <add id="Czargroup_ImportTracknumber::index" title="Import Track Number" module="Czargroup_ImportTracknumber" action="importtracknumber/index" parent="Czargroup_ImportTracknumber::importtracknumber" sortOrder="10" resource="Czargroup_ImportTracknumber::index"/>

        <!-- Submenu for Orders Export (combined under Czargroup_ImportTracknumber) -->
        <add id="Czargroup_ImportTracknumber::ordersexport" title="Orders Export" module="Czargroup_ImportTracknumber" action="importtracknumber/ordersexport" parent="Czargroup_ImportTracknumber::importtracknumber" sortOrder="20" resource="Czargroup_ImportTracknumber::ordersexport"/>
    </menu>
</config>
