li#menu-czargroup-importtracknumber-importtracknumber a:before {
    content: url('../images/icon.png');
}
li#menu-vendor_extension-menu_id > a > span {
    display: none;
}
li#menu-czargroup-importtracknumber-importtracknumber .submenu a:before {
    content: none;
}
li#menu-czargroup-importtracknumber-importtracknumber a.action-close._close:before {
    content: '\e62f' ! IMPORTANT;
    transition: color 0.1s linear;
}