.catalog-product-view .product-info-main .page-title-wrapper h1 {
    font-family: "Candara light";
    font-weight: 600;
    color: #2e592f;
    font-size: 30px;
}
.product-info-main .product-add-form form .box-tocart .actions .action.tocart:hover{
    background-color: #000 !important;
    border: 1px solid #222;
    color: #fff;
}
.product-info-main .product-add-form form .box-tocart .actions .action.tocart{
    background-color: #183e0c;
    border: 1px solid #183e0c;
    padding: 12px 20px;
    width: 100%;
    border-radius: 20px;
}
.product-info-main .product-add-form .product-options-wrapper .swatch-attribute .swatch-attribute-options .swatch-option.text {
    border-radius: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    border: none !important;
    padding: 0 10px;
    background-color: transparent;
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    color: #000;
    margin: 0 10px 7px 0;
}
.product-add-form .product-options-bottom .field.qty .label {
    display: none;
}
.product.info.detailed .product.data.items > .item.title.active a.switch.data, .catalog-product-view .product.info.detailed .product.data.items > .item.title a.switch.data {
    border: 0px solid green !important;
    padding: 10px;
    font-size: 13px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    min-height: 40px;
    background-color: #bdbdbd;
    text-transform: uppercase;
    color: #000 !important;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    align-items: center;
    justify-content: space-around;
    display:flex;
}
.product.info.detailed .product.data.items > .item.title.active a.switch.data {
    background-color: #183e0c !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700;
}
.product.info.detailed .product.data.items > .data.item.content {
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #000;
    line-height: 30px;
    padding: 2px 15px 2px 15px;
    text-align: justify;
    margin-top: 63px;
}
.product.info.detailed .product.data.items {
    padding: 0;
}
.catalog-product-view #maincontent .columns {
    display: flex;
}
.product-info-main .box-tocart, .product-options-bottom .box-tocart, .product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions {
    width: 100%;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
}
.page-layout-1column .product-info-main .product-add-form .product-options-wrapper .swatch-attribute .swatch-attribute-selected-option {
    display: none;
}
.product-info-main .product-add-form div#product-options-wrapper .swatch-attribute .swatch-option.text:hover,div#product-options-wrapper .swatch-option.text.selected  {
    outline: unset;
    background-color: #183e0c;
    color: #fff;
}
div#product-options-wrapper .swatch-option.text.selected {
    outline: none !important;
}
.product-info-main .product-add-form .product-options-bottom .fieldset {
    display: flex;
/*    flex-wrap: wrap;*/
}
.product-info-main .product-add-form form .box-tocart .actions, .page-layout-1column .product-info-main .product-add-form form .box-tocart .actions {
    width: 60%;
    padding: 0;
}
.product-add-form .fieldset > .field {
    margin: 0;
}
.product-info-main .box-tocart .input-text.qty, .product-options-bottom .box-tocart .input-text.qty {
    height: 40px;
    text-align: center;
    width: 51px;
}
.product.info.detailed .product.data.items:before {
    position: relative;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    top: 59px;
    width: 98%;
}
.catalog-product-view .product.info.detailed .product.attribute.description .des-in-left.value h2 {
    font-size: 30px;
    font-family: 'Candara light' !important;
    font-weight: 600;
    font-style: italic;
    color: #183e0c;
}
/*footer page T&C*/
.cms-term-condition h1, .cms-faq-page h1 {
    margin-bottom: 40px;
}
body.cms-term-condition .page-title, body.cms-faq-page .page-title{
   font-size: 30px;
   font-family: 'Poppins', sans-serif;
   color: rgba(0, 0, 0, 0.8);
}
.cms-term-condition .columns .column.main, .cms-about-us .columns .column.main, .cms-faq-page .columns .column.main {
    padding-bottom: 0;
}
.cms-term-condition .page-wrapper main#maincontent {
    padding: 0 25px !important;
}
/*footer page about us*/
.cms-about-us .page-wrapper main#maincontent {
    padding: 0;
}
body.cms-about-us, body.cms-term-condition, body.cms-faq-page {
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Poppins', sans-serif;
}
/*footer faq-page*/
.cms-faq-page .page-main{
    padding-left: 0; 
    padding-right: 0;
}
.cms-faq-page .column.main {
    max-width: 75% !important;
    margin: 0 auto;
}
.cms-faq-page .accordion-main {
    margin-bottom: 20px;
}
.cms-faq-page .accordion-main .panel{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
}
.cms-faq-page .accordion-main .accordion.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.cms-faq-page .accordion-main .accordion{
    padding: 15px 40px 15px 15px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #000;
    color: #000;
    transition: .4s;
    transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.cms-faq-page .accordion-main .accordion.active, .accordion:hover {
    background-color: #004000;
    color: #fff !important;
}
.cms-faq-page button{
    background: #fff;
    line-height: 1.5;
}
.cms-faq-page .arblock-title {
    background-color: #004000 !important;
    font-size: 15.096px;
}
.cms-faq-page .col-md-4.col-sm-6.col-xs-12, .cms-faq-page .col-md-12.col-sm-12.col-xs-12{
    margin-bottom: 20px;
}
.catalogsearch-result-index .column.main {
    width: 75% !important;
    padding: 0;
}
.catalogsearch-result-index .sidebar.sidebar-main {
    width: 100%;
    float: none;
}
/*minicart*/
.block-minicart div#bottom-content {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin-left: -30px;
    margin-top: 0;
}
.block-minicart a.action.viewcart {
    text-decoration: none;
}
.block-minicart #bottom-content .secondary {
    margin-bottom: 10px;
}
.block-minicart #bottom-content button#top-cart-btn-checkout {
    margin-top: 0;
    font-family: "Candara" !important;
    text-transform: uppercase !important;
    font-weight: 400;
    padding: 10px 22px;
}
.minicart-wrapper .action.close:before {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
.block-minicart .minicart-items .product-item-name {
    margin: 0;
}
.page-header .minicart-wrapper .block-minicart .minicart-items-wrapper .product-item .product-item-details .details-qty .label {
    color: #000;
}
.page-header .minicart-wrapper .block-minicart .minicart-items-wrapper .product-item .product-item-details .product.options .content .subtitle {
    display: none;
}
/*minicart top details*/
.minicart-wrapper .block-minicart strong.subtitle {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    font-family: 'Cormorant Garamond', serif;
    line-height: 1;
    display: block;
}
.minicart-wrapper .block-minicart .minicart-items-wrapper {
    border: none;
    margin: 0;
    padding: 0;
    height: 340px !important;
}
.block-minicart .minicart-items .product-item {
    padding: 20px 0 !important;
    border-bottom: 1px solid #e9e9e9;
    line-height: normal;
    letter-spacing: normal;
}
.page-header .minicart-wrapper .block-minicart .minicart-items-wrapper .product-item .product-item-details {
    padding-left: 20px;
    padding-right: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.page-header .minicart-wrapper .block-minicart .minicart-items-wrapper .product-item .product-item-details .product-item-name a {
   text-decoration: none;
}
.minicart-items .product-item-details .price-including-tax, .minicart-items .product-item-details .price-excluding-tax {
    margin: 0;
}
.page-header .minicart-wrapper .block-minicart .minicart-items-wrapper .product-item .product-item-details .product.options {
    order: 3;
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
    margin-bottom: 0;
    overflow: scroll;
}
.page-header .minicart-wrapper .block-minicart .minicart-items-wrapper .product-item .product-item-details .details-qty {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
}
.page-header .minicart-wrapper .block-minicart .minicart-items-wrapper .product-item .product-item-details .details-qty .item-qty {
    border: 1px solid grey;
    padding: 5px 0 5px 10px;
    width: 30px;
    text-align:left;
    border-radius: 5px;
}
.minicart-items .product.actions .action:before {
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
}
.minicart-items .action.edit:before{
    content: '\e907';
    line-height: inherit;
}
.minicart-items .action.delete:before {
    content: '\e90f';
    font-weight: 700;
}
.minicart-wrapper .product.actions > .primary {
    display: block;
}
.minicart-items .product.active > .toggle:after, .minicart-items .product .toggle:after {
    font-size: 8px;
    color: #8f8f8f;
    margin: 0 0 0 5px;
    line-height: 12px;
}
 .minicart-items .product .toggle:after{
    content: '\e906';
 }
.minicart-items .product.active > .toggle:after {
    content: '\e925';
}
.page-header .minicart-wrapper .block-minicart .minicart-items-wrapper .product-item .product-item-details .product.actions {
    position: absolute;
    top: -3px;
    right: 0;
    width: 30px;
    margin: 0;
    text-align: left;
}
.minicart-items .action.edit:hover:before, .minicart-items .action.delete:hover:before {
    color: #222;
}
.block-minicart .product.options .toggle span{
    font-size: 12px;
    color: #000;
}
.block-minicart dl.product.options.list dt.label {
    margin: 2px 0;
    text-transform: lowercase;
    color: #000;
}
.block-minicart .product-item-details .details-qty.qty input[type=number]:focus {
    box-shadow: none;
}
/*brands page*/
/*.category-brands .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.category-brands .row .col-xs-6.col-sm-6.col-md-3.col-lg-3.items-categry-width{
    width: 25%;
}
body.category-brands .list-product-linkk > button {
    background-color: #2e592f;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
}*/
@media only screen and (min-width: 320px) and (max-width 792px) {
    .cms-faq-page .accordion-main .accordion{
        text-transform: capitalize;
    }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .cms-about-us .breadcrumbs {
        display: none;
    }
}
@media only screen and (max-width: 1440px){
    .cms-faq-page .arblock-title {
        font-size: 13.096px;
    }
    .cms-faq-page .column.main {
        width: 100%;
        max-width: 100% !important;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px){
    .cms-about-us .pagebuilder-column-line {
        flex-wrap: wrap;
    }
    .cms-about-us .pagebuilder-column {
        background-attachment: scroll !important;
        flex-basis: 100%;
        max-width: 100%;
    }
     .cms-about-us figure {
        display: none;
    }
}
/*minisearch*/
@media only screen and (max-width: 767px) { 
    .minisearch .searchsuite-autocomplete {
        left: -128px;
        width: 260px;
    }
}