.page-main .page-title-wrapper .page-title {
    margin-bottom: 40px;
}

.page-main .login-container {
    display: flex;
    column-gap: 25px;
}

.page-main .page-title-wrapper .page-title {
    font-weight: 400;
    color: rgba(0, 0, 0, .8);
    letter-spacing: -1.1px;
}

.customer-account-login .page-main .login-container .block {
    max-width: calc(50% - 45px);
}

.columns .login-container .block-customer-login,
.block.block-new-customer {
    padding: 40px;
    background-color: #fff;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px;
    min-height: 100px;
    margin-bottom: 20px !important;
}

.page-main .login-container .block .block-title {
    font-size: 24px;
    border: 0;
    color: rgba(0, 0, 0, .8);
}

.login-container form.form-login .fieldset>.field .label,
.fieldset>.fields>.field .label {
    font-size: 11px;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, .8);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 15px;
    width: auto;
    padding: 0;
}

.login-container form.form-login .fieldset>.field,
.fieldset>.fields>.field {
    margin: 0 0 24px;
}

.login-container .fieldset>.field:not(.choice)>.control {
    width: 80%;
    float: none;
    display: block;
}

.login-container .form-login .field.choice {
    display: none;
}

form.form-login .action.primary,
.actions-toolbar .primary .action {
    background-color: #183e0c;
    border: 1px solid #000;
    border-radius: 20px;
}

.login-container .form.form-login .actions-toolbar,
.login-container .fieldset:after {
    margin-left: 0 !important;
}

form.form-login .action.primary,
.action.primary {
    font-size: 11px;
    font-weight: 400;
    padding: 13px 40px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: center;
    font-family: "Candara" !important;
    text-transform: uppercase !important;
}

form.form-login .actions-toolbar>.secondary a.action {
    color: #a6c722;
}

form.form-login .actions-toolbar>.secondary a.action {
    vertical-align: middle;
    background-color: transparent;
    border-color: transparent;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 1.5px;
    margin: 0;
}

.page-main .login-container .block {
    width: 100%;
}

.login-container .block.block-new-customer {
    padding: 40px;
    background-color: #fff;
    margin: 0px auto;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px;
    min-height: 100px;
    height: min-content;
}

form.form-login .actions-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}

.form.form-login .actions-toolbar>.primary {
    margin: 0 15px 0 0;
}

input[type=text],
input[type=password],
input[type=email] {
    border-radius: 5px;
    border: 1px solid #004213;
    background-clip: border-box;
    font-size: 12px;
    height: 44px;
    line-height: 1.4;
    padding: 0 20px;
}

.customer-account-create .page-main>.page-title-wrapper .page-title {
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.page-main .form.create.account {
    padding: 40px;
    background-color: #fff;
    margin: 10px auto;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px #004213;
    min-height: 100px;
}

.customer-account-create .page-main>.page-title-wrapper .page-title {
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

.page-main .form.create.account .fieldset .legend,
body.account .fieldset .legend {
    font-size: 24px;
    font-family: 'Cormorant Garamond', serif;
    border: 0;
    color: rgba(0, 0, 0, .8);
}

.customer-account-create .fieldset>.legend {
    margin: 0 0 20px;
    padding: 0 0 10px;
    width: 100%;
    box-sizing: border-box;
    float: left;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.8rem;
}

.customer-account-create .fieldset.fieldset.create.info .field {
    width: 45%;
    float: left;
    margin-left: 35px;
}

.create.account .fieldset>.field .label,
.fieldset>.fields>.field .label {
    font-size: 11px;
    letter-spacing: 1.5px;
    width: auto;
    color: rgba(0, 0, 0, .8);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 0;
    float: none;
}

.form.create.account .fieldset>.field:not(.choice)>.control {
    width: auto;
    float: none;
}

form.create.account .fieldset.create.account .field {
    width: 30%;
    float: left;
    margin-left: 24px;
}

.field.password .control .password-strength-meter:before {
    content: '';
    height: 12px;
    max-height: 12px;
    width: 12px;
    max-width: 12px;
    left: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
    border-radius: 50%;
    margin: -6px 0 0;
    background-color: #e8e8e8;
}

.field.password .control .password-strength-meter {
    height: 44px;
    line-height: 44px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding: 0 0 0 20px;
    font-size: 11px;
}

.form-create-account .actions-toolbar {
    margin-left: 0 !important;
}

.form-create-account .field.choice {
    display: none;
}

@media screen and (max-width: 768px) {
    .page-main .login-container .block {
        padding: 40px;
        background-color: #fff;
        margin: 10px auto;
        font-size: 18px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 5px #004213;
        min-height: 100px;
        height: min-content;
        max-width: 100% !IMPORTANT;
    }

    .page-main .login-container {
        flex-wrap: wrap;
    }

    .page-main .form.create.account {
        padding: 40px;
        background-color: #fff;
        margin: 10px auto;
        font-size: 18px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 5px #004213;
        min-height: 100px;
    }

    .form.create.account fieldset.fieldset.create.info .field,
    form.create.account fieldset.fieldset.create.account .field {
        width: 80%;
        float: left;
        margin-left: 35px;
    }

    .form-create-account .actions-toolbar {
        display: inline-block;
        min-height: 1px;
        margin-top: 70px;
    }

    @media only screen and (min-width: 769px) {
        .form-create-account fieldset.fieldset.create.info .field {
            width: 45%;
            float: left;
            margin-left: 35px;
        }

        .page-main .form-create-account {
            min-width: 600px;
            width: 80% !important;
        }
    }
}

@media only screen and (max-width: 1024px) {

    .customer-account-create .fieldset.fieldset.create.info .field,
    form.create.account fieldset.fieldset.create.account .field {
        width: 80%;
        float: left;
        margin-left: 35px;
    }
}